<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <br>  <br>
    <mat-toolbar style=" color :#048b9a; margin-left:15%; font-size: 30px;"><i><b>MENU</b></i></mat-toolbar>
    <br>
    <mat-nav-list>
      <a mat-list-item  [routerLink]="['/utilisateur']"><b><i>Liste des utilisateurs</i></b></a>
      <a mat-list-item [routerLink]="['/ajouteractualite']" routerLinkActive="active"><b><i>Ajouter une actualité</i></b></a>
      <a mat-list-item [routerLink]="['/actualite']"  routerLinkActive="active"><b><i>Liste des actualités</i></b></a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #048b9a;">
      <span style="margin-left:43%; color: azure;"><i><b>PORTAIL WEB D'ENTREPRISE</b></i></span>
      <button mat-raised-button style="background-color:white;width:auto; margin-left: 450px;" (click)="logout()">LogOut</button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
